*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(160, 207, 240);
    font-family: consolas;
}

.container {
    background-color: white;
    padding: 15px 4px;
    height: 35px;
    box-shadow: 0 8px 6px -6px black;
}

.container span{
    display: flex;
    flex-direction: column;
}

.container span div{
    margin: 10px;

}

img {
    height: 45px;
    width: 50px;
    margin: -14px 12px;
}

.text {
    margin: -26px 78px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.review {
    height: 195px;
    width: 650px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 61px 430px;
    box-shadow: 0 8px 6px -6px black;
}

.A {
    color: white;
    background-color: rgb(0,112,192);
    font-weight: bolder;
    height: 26px;
    width: 185px;
    border: 2px rgb(0, 112, 192);
    margin: 28px 218px;
    padding: 12px 2px;
    border-radius: 10px;
}

.AC{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
}


.result1{
    text-align: center;
    height: 230px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    border: 2px rgb(0, 112, 192);
    color: rgb(0, 112, 192);
    box-shadow: 0 8px 6px -6px black;
    margin: 5px;
}
.P{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 8px;
}

.NE{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 8px;
}
.N{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 8px;
}
.senti{
    height: 100px;
    width: 100px;
    padding: 30px;
}
.asp{
    height: 100px;
    width: 100px;
    margin: 15px;
}

.result2{
    text-align: center;
    height: 233px;
    width: 200px;
    background-color: white;
    border: 2px rgb(0, 112, 192);
    border-radius: 10px;
    color: rgb(0, 112, 192);
    box-shadow: 0 8px 6px -6px black;
    margin: 5px;
}
.E{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 7px;
}
.EH{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 7px;
}
.EM{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 7px;
}
.HB{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 7px;
}
.OE{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 7px;
}
.TE{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 7px;
}

.result3{
    text-align: center;
    height: 233px;
    width: 200px;
    background-color: white;
    border: 2px rgb(0, 112, 192);
    border-radius: 10px;
    color: rgb(0, 112, 192);
    box-shadow: 0 8px 6px -6px black;
    margin: 5px;
}

.C{
    font-size: xxx-large;
    color: green;
    margin: 40px;
}

.level{
    font-size: large;
    color:brown;
    border: 2px lightcoral;
    background-color: lightcoral;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    margin: 7px;
}