*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(160, 207, 240);
    font-family: consolas;
}

.container {
    background-color: white;
    padding: 15px 4px;
    height: 35px;
    box-shadow: 0 8px 6px -6px black;
}

.container span{
    display: flex;
    flex-direction: column;
}

.container span div{
    margin: 10px;

}

img {
    height: 45px;
    width: 50px;
    margin: -14px 12px;
}

.text {
    margin: -26px 78px;
}

.ml-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    height: 340px;
    width: 700px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    margin: 50px;
    box-shadow: 0 8px 6px -6px black;
}

.input_text {
    font-weight: bold;
    width: 100px;
    background-color: rgb(0, 112, 192);
    color: white;
    padding: 8px 8px;
    font-family: consolas;
    border-radius: 8px;
}

textarea {
    border: 2px solid rgb(0, 112, 192);
}

.para {
    color: rgb(0, 112, 192);
    font-weight: bolder;
    padding: 9px 10px;
}
